# Task 4.8 - Grouping Data & Aggregating Variables

### Table of Contents

1. Importing Libraries and data
2. Finding average order number (by Dept. ID)
3. Determining customer "loyalty"
4. Observing spending habits by customer "loyalty"
5. Categorizing high and low spenders
6. Flagging customer frequency
7. Exporting data with new variables

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 1. Importing Instacart Data

In [2]:
# identifying project path
project =r'D:\Adam\Employment\Data Analysis Course\Python Instacart project'

# Import Instacart prepared orders data
df = pd.read_pickle(os.path.join(project, '02 Data', 'Prepared Data', 'orders_products_new_vars.pkl'))

#### 2. Find mean of order number when grouped by department id

In [3]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [4]:
# 3. Analyze the result - how does it differ from the results of the subset?

# All the numbers appear to be much closer together, and of course they represent every department_id this time.
# Ultimately, these numbers are probably meaningless, because they're not a good representation of the "count"
# of every order by department_id, but rather they're the mean of "order_numbers" - which are simply sequential
# numbers showing in what order customers purchased products from different departments.  So this could potentially give
# minor insight regarding in what order customers purchased from various departments throughout their lives as
# Instcart customers.  But ultimately it's mostly just coincidence how these various department_id #s average out
# over the lifetime of the orders of an Instacart customer.  I.e. meaningless, and thus why when calculated all together
# the means are closer to the middle of what they would be even if *not* grouped by department_id

#### 3. Determining customer loyalty based on max order numbers

In [5]:
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
df.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [7]:
# Assigning loyalty flag in new column

df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'Newer customer'

In [8]:
df['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
Newer customer       6243990
Name: loyalty_flag, dtype: int64

In [9]:
df[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1    Newer customer             1
1         1    Newer customer             2
2         1    Newer customer             3
3         1    Newer customer             4
4         1    Newer customer             5
5         1    Newer customer             6
6         1    Newer customer             7
7         1    Newer customer             8
8         1    Newer customer             9
9         1    Newer customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19    Newer customer             2
16       19    Newer customer             5
17       19    Newer customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81    Newer customer             3
57       81    Newer customer             5
58       82  Regular customer             1
59       82  Regular customer             3

#### 4. Check spending habits by doing aggregate statistics on product prices for each customer loyalty category

In [10]:
df.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
Newer customer    13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [11]:
# The min and max are the same, so that's not helpful.  The average prices of products don't differ especially significantly
# But when considered over this many different orders, the $3 lower average price for loyal customers compared
# to the $3 higher average price for newer customers probably indicates that loyal customers regularly buy more lower-priced
# products.

#### 5. Determining high and low spenders based on average spending per item across all orders per customer

In [12]:
# Creating average price column by user id

df['avg_item_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
df[['user_id', 'prices', 'avg_item_price', 'loyalty_flag']].head(60)

    user_id  prices  avg_item_price      loyalty_flag
0         1     9.0        6.367797    Newer customer
1         1     9.0        6.367797    Newer customer
2         1     9.0        6.367797    Newer customer
3         1     9.0        6.367797    Newer customer
4         1     9.0        6.367797    Newer customer
5         1     9.0        6.367797    Newer customer
6         1     9.0        6.367797    Newer customer
7         1     9.0        6.367797    Newer customer
8         1     9.0        6.367797    Newer customer
9         1     9.0        6.367797    Newer customer
10       15     9.0        3.980556  Regular customer
11       15     9.0        3.980556  Regular customer
12       15     9.0        3.980556  Regular customer
13       15     9.0        3.980556  Regular customer
14       15     9.0        3.980556  Regular customer
15       19     9.0        8.372059    Newer customer
16       19     9.0        8.372059    Newer customer
17       19     9.0        8.372059    Newer customer
18       21     9.0        7.012683  Regular customer
19       31     9.0        8.137793  Regular customer
20       31     9.0        8.137793  Regular customer
21       43     9.0        7.444898  Regular customer
22       43     9.0        7.444898  Regular customer
23       52     9.0        6.356287  Regular customer
24       52     9.0        6.356287  Regular customer
25       52     9.0        6.356287  Regular customer
26       52     9.0        6.356287  Regular customer
27       52     9.0        6.356287  Regular customer
28       52     9.0        6.356287  Regular customer
29       52     9.0        6.356287  Regular customer
30       52     9.0        6.356287  Regular customer
31       52     9.0        6.356287  Regular customer
32       52     9.0        6.356287  Regular customer
33       52     9.0        6.356287  Regular customer
34       52     9.0        6.356287  Regular customer
35       52     9.0        6.356287  Regular customer
36       52     9.0        6.356287  Regular customer
37       67     9.0        7.656790  Regular customer
38       67     9.0        7.656790  Regular customer
39       67     9.0        7.656790  Regular customer
40       67     9.0        7.656790  Regular customer
41       67     9.0        7.656790  Regular customer
42       67     9.0        7.656790  Regular customer
43       67     9.0        7.656790  Regular customer
44       67     9.0        7.656790  Regular customer
45       67     9.0        7.656790  Regular customer
46       67     9.0        7.656790  Regular customer
47       67     9.0        7.656790  Regular customer
48       67     9.0        7.656790  Regular customer
49       67     9.0        7.656790  Regular customer
50       67     9.0        7.656790  Regular customer
51       67     9.0        7.656790  Regular customer
52       67     9.0        7.656790  Regular customer
53       67     9.0        7.656790  Regular customer
54       67     9.0        7.656790  Regular customer
55       67     9.0        7.656790  Regular customer
56       81     9.0        8.165385    Newer customer
57       81     9.0        8.165385    Newer customer
58       82     9.0        6.441221  Regular customer
59       82     9.0        6.441221  Regular customer

In [14]:
# creating flag column for low (<10) and high (>=10) spenders

df.loc[df['avg_item_price'] < 10, 'spender_type'] = 'Low spender'
df.loc[df['avg_item_price'] >= 10, 'spender_type'] = 'High spender'

In [15]:
df['spender_type'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_type, dtype: int64

In [16]:
df[['user_id', 'prices', 'avg_item_price', 'spender_type', 'loyalty_flag']].head(60)

    user_id  prices  avg_item_price spender_type      loyalty_flag
0         1     9.0        6.367797  Low spender    Newer customer
1         1     9.0        6.367797  Low spender    Newer customer
2         1     9.0        6.367797  Low spender    Newer customer
3         1     9.0        6.367797  Low spender    Newer customer
4         1     9.0        6.367797  Low spender    Newer customer
5         1     9.0        6.367797  Low spender    Newer customer
6         1     9.0        6.367797  Low spender    Newer customer
7         1     9.0        6.367797  Low spender    Newer customer
8         1     9.0        6.367797  Low spender    Newer customer
9         1     9.0        6.367797  Low spender    Newer customer
10       15     9.0        3.980556  Low spender  Regular customer
11       15     9.0        3.980556  Low spender  Regular customer
12       15     9.0        3.980556  Low spender  Regular customer
13       15     9.0        3.980556  Low spender  Regular customer
14       15     9.0        3.980556  Low spender  Regular customer
15       19     9.0        8.372059  Low spender    Newer customer
16       19     9.0        8.372059  Low spender    Newer customer
17       19     9.0        8.372059  Low spender    Newer customer
18       21     9.0        7.012683  Low spender  Regular customer
19       31     9.0        8.137793  Low spender  Regular customer
20       31     9.0        8.137793  Low spender  Regular customer
21       43     9.0        7.444898  Low spender  Regular customer
22       43     9.0        7.444898  Low spender  Regular customer
23       52     9.0        6.356287  Low spender  Regular customer
24       52     9.0        6.356287  Low spender  Regular customer
25       52     9.0        6.356287  Low spender  Regular customer
26       52     9.0        6.356287  Low spender  Regular customer
27       52     9.0        6.356287  Low spender  Regular customer
28       52     9.0        6.356287  Low spender  Regular customer
29       52     9.0        6.356287  Low spender  Regular customer
30       52     9.0        6.356287  Low spender  Regular customer
31       52     9.0        6.356287  Low spender  Regular customer
32       52     9.0        6.356287  Low spender  Regular customer
33       52     9.0        6.356287  Low spender  Regular customer
34       52     9.0        6.356287  Low spender  Regular customer
35       52     9.0        6.356287  Low spender  Regular customer
36       52     9.0        6.356287  Low spender  Regular customer
37       67     9.0        7.656790  Low spender  Regular customer
38       67     9.0        7.656790  Low spender  Regular customer
39       67     9.0        7.656790  Low spender  Regular customer
40       67     9.0        7.656790  Low spender  Regular customer
41       67     9.0        7.656790  Low spender  Regular customer
42       67     9.0        7.656790  Low spender  Regular customer
43       67     9.0        7.656790  Low spender  Regular customer
44       67     9.0        7.656790  Low spender  Regular customer
45       67     9.0        7.656790  Low spender  Regular customer
46       67     9.0        7.656790  Low spender  Regular customer
47       67     9.0        7.656790  Low spender  Regular customer
48       67     9.0        7.656790  Low spender  Regular customer
49       67     9.0        7.656790  Low spender  Regular customer
50       67     9.0        7.656790  Low spender  Regular customer
51       67     9.0        7.656790  Low spender  Regular customer
52       67     9.0        7.656790  Low spender  Regular customer
53       67     9.0        7.656790  Low spender  Regular customer
54       67     9.0        7.656790  Low spender  Regular customer
55       67     9.0        7.656790  Low spender  Regular customer
56       81     9.0        8.165385  Low spender    Newer customer
57       81     9.0        8.165385  Low spender    Newer customer
58       82     9.0        6.441221  Low spender  Regular customer
59       82     9.0        6.441221  Low spender  Regular customer

#### 6. Creating new flag for frequent & non-frequent customers (based on how long since last order)

In [17]:
# Creating order frequency column by user id

df['avg_days_since_last_order'] = df.groupby(['user_id'])['days_since_last_order'].transform(np.mean)

In [18]:
df[['user_id', 'avg_days_since_last_order', 'days_since_last_order', 'loyalty_flag']].head(60)

,user_id,avg_days_since_last_order,days_since_last_order,loyalty_flag
0,1,20.259259,NaN,Newer customer
1,1,20.259259,15.0,Newer customer
2,1,20.259259,21.0,Newer customer
3,1,20.259259,29.0,Newer customer
4,1,20.259259,28.0,Newer customer
5,1,20.259259,19.0,Newer customer
6,1,20.259259,20.0,Newer customer
7,1,20.259259,14.0,Newer customer
8,1,20.259259,0.0,Newer customer
9,1,20.259259,30.0,Newer customer
10,15,11.029412,7.0,Regular customer
11,15,11.029412,8.0,Regular customer
12,15,11.029412,7.0,Regular customer
13,15,11.029412,7.0,Regular customer
14,15,11.029412,14.0,Regular customer
15,19,8.040698,6.0,Newer customer
16,19,8.040698,8.0,Newer customer
17,19,8.040698,6.0,Newer customer
18,21,10.055000,6.0,Regular customer
19,31,6.073427,7.0,Regular customer
20,31,6.073427,8.0,Regular customer
21,43,10.549296,4.0,Regular customer
22,43,10.549296,3.0,Regular customer
23,52,9.155280,NaN,Regular customer
24,52,9.155280,7.0,Regular customer
25,52,9.155280,7.0,Regular customer
26,52,9.155280,8.0,Regular customer
27,52,9.155280,8.0,Regular customer
28,52,9.155280,7.0,Regular customer
29,52,9.155280,8.0,Regular customer
30,52,9.155280,7.0,Regular customer
31,52,9.155280,6.0,Regular customer
32,52,9.155280,8.0,Regular customer
33,52,9.155280,6.0,Regular customer
34,52,9.155280,14.0,Regular customer
35,52,9.155280,8.0,Regular customer
36,52,9.155280,30.0,Regular customer
37,67,7.714286,NaN,Regular customer
38,67,7.714286,5.0,Regular customer
39,67,7.714286,7.0,Regular customer
40,67,7.714286,8.0,Regular customer
41,67,7.714286,8.0,Regular customer
42,67,7.714286,7.0,Regular customer
43,67,7.714286,7.0,Regular customer
44,67,7.714286,7.0,Regular customer
45,67,7.714286,6.0,Regular customer
46,67,7.714286,7.0,Regular customer
47,67,7.714286,8.0,Regular customer
48,67,7.714286,6.0,Regular customer
49,67,7.714286,7.0,Regular customer
50,67,7.714286,9.0,Regular customer
51,67,7.714286,4.0,Regular customer
52,67,7.714286,9.0,Regular customer
53,67,7.714286,5.0,Regular customer
54,67,7.714286,14.0,Regular customer
55,67,7.714286,14.0,Regular customer
56,81,26.086957,14.0,Newer customer
57,81,26.086957,30.0,Newer customer
58,82,12.188525,NaN,Regular customer
59,82,12.188525,5.0,Regular customer

In [22]:
# creating flag column for frequent (<=10), regular (>10 <=20), and non-frequent (>20) customers

df.loc[df['avg_days_since_last_order'] <= 10, 'order_frequency'] = 'Frequent customer'
df.loc[(df['avg_days_since_last_order'] <= 20) & (df['avg_days_since_last_order'] > 10), 'order_frequency'] = 'Regular customer'
df.loc[df['avg_days_since_last_order'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [23]:
df[['user_id', 'avg_days_since_last_order', 'order_frequency', 'days_since_last_order', 'loyalty_flag']].head(60)

,user_id,avg_days_since_last_order,order_frequency,days_since_last_order,loyalty_flag
0,1,20.259259,Non-frequent customer,NaN,Newer customer
1,1,20.259259,Non-frequent customer,15.0,Newer customer
2,1,20.259259,Non-frequent customer,21.0,Newer customer
3,1,20.259259,Non-frequent customer,29.0,Newer customer
4,1,20.259259,Non-frequent customer,28.0,Newer customer
5,1,20.259259,Non-frequent customer,19.0,Newer customer
6,1,20.259259,Non-frequent customer,20.0,Newer customer
7,1,20.259259,Non-frequent customer,14.0,Newer customer
8,1,20.259259,Non-frequent customer,0.0,Newer customer
9,1,20.259259,Non-frequent customer,30.0,Newer customer
10,15,11.029412,Regular customer,7.0,Regular customer
11,15,11.029412,Regular customer,8.0,Regular customer
12,15,11.029412,Regular customer,7.0,Regular customer
13,15,11.029412,Regular customer,7.0,Regular customer
14,15,11.029412,Regular customer,14.0,Regular customer
15,19,8.040698,Frequent customer,6.0,Newer customer
16,19,8.040698,Frequent customer,8.0,Newer customer
17,19,8.040698,Frequent customer,6.0,Newer customer
18,21,10.055000,Regular customer,6.0,Regular customer
19,31,6.073427,Frequent customer,7.0,Regular customer
20,31,6.073427,Frequent customer,8.0,Regular customer
21,43,10.549296,Regular customer,4.0,Regular customer
22,43,10.549296,Regular customer,3.0,Regular customer
23,52,9.155280,Frequent customer,NaN,Regular customer
24,52,9.155280,Frequent customer,7.0,Regular customer
25,52,9.155280,Frequent customer,7.0,Regular customer
26,52,9.155280,Frequent customer,8.0,Regular customer
27,52,9.155280,Frequent customer,8.0,Regular customer
28,52,9.155280,Frequent customer,7.0,Regular customer
29,52,9.155280,Frequent customer,8.0,Regular customer
30,52,9.155280,Frequent customer,7.0,Regular customer
31,52,9.155280,Frequent customer,6.0,Regular customer
32,52,9.155280,Frequent customer,8.0,Regular customer
33,52,9.155280,Frequent customer,6.0,Regular customer
34,52,9.155280,Frequent customer,14.0,Regular customer
35,52,9.155280,Frequent customer,8.0,Regular customer
36,52,9.155280,Frequent customer,30.0,Regular customer
37,67,7.714286,Frequent customer,NaN,Regular customer
38,67,7.714286,Frequent customer,5.0,Regular customer
39,67,7.714286,Frequent customer,7.0,Regular customer
40,67,7.714286,Frequent customer,8.0,Regular customer
41,67,7.714286,Frequent customer,8.0,Regular customer
42,67,7.714286,Frequent customer,7.0,Regular customer
43,67,7.714286,Frequent customer,7.0,Regular customer
44,67,7.714286,Frequent customer,7.0,Regular customer
45,67,7.714286,Frequent customer,6.0,Regular customer
46,67,7.714286,Frequent customer,7.0,Regular customer
47,67,7.714286,Frequent customer,8.0,Regular customer
48,67,7.714286,Frequent customer,6.0,Regular customer
49,67,7.714286,Frequent customer,7.0,Regular customer
50,67,7.714286,Frequent customer,9.0,Regular customer
51,67,7.714286,Frequent customer,4.0,Regular customer
52,67,7.714286,Frequent customer,9.0,Regular customer
53,67,7.714286,Frequent customer,5.0,Regular customer
54,67,7.714286,Frequent customer,14.0,Regular customer
55,67,7.714286,Frequent customer,14.0,Regular customer
56,81,26.086957,Non-frequent customer,14.0,Newer customer
57,81,26.086957,Non-frequent customer,30.0,Newer customer
58,82,12.188525,Regular customer,NaN,Regular customer
59,82,12.188525,Regular customer,5.0,Regular customer

In [24]:
df['order_frequency'].value_counts(dropna = False)

Frequent customer        16468582
Regular customer         12521159
Non-frequent customer     3415113
NaN                             5
Name: order_frequency, dtype: int64

#### 7. Export as a pickle file

In [ ]:
df.drop(columns=['_merge'], inplace=True)

In [27]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,avg_item_price,spender_type,avg_days_since_last_order,order_frequency
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Newer customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Least busy,Average orders,10,Newer customer,6.367797,Low spender,20.259259,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Least busy,Most orders,10,Newer customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Least busy,Average orders,10,Newer customer,6.367797,Low spender,20.259259,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Least busy,Most orders,10,Newer customer,6.367797,Low spender,20.259259,Non-frequent customer

In [28]:
df.shape

(32404859, 24)

In [29]:
# Export data to pkl

df.to_pickle(os.path.join(project, '02 Data','Prepared Data', 'orders_products_new_vars.pkl'))